{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href='{% static "css/output.css" %}'>
	<meta name="description" content="Padel Chiquito: Tu destino principal para comparar y encontrar las mejores palas de pádel. Explora una amplia gama de marcas y modelos para mejorar tu juego.">
	<meta name="keywords" content="Padel Chiquito, palas de pádel, comparador de palas, mejores palas de pádel, marcas de palas, potencia, manejo, comparativas de palas">
	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href='{% static "img/favicon/apple-touch-icon.png" %}'>
	<link rel="icon" type="image/png" sizes="32x32" href='{% static "img/favicon/favicon-32x32.png" %}'>
	<link rel="icon" type="image/png" sizes="16x16" href='{% static "img/favicon/favicon-16x16.png" %}'>
	<!-- JSON-LD -->
	<script type="application/ld+json">
		{
			"@context": "https://schema.org/",
			"@type": "ItemList",
			"itemListElement": [
				{% for pala in palas %}
					{
						"@type": "Product",
						"name": "{{ pala.nombre }}",
						"brand": "{{ pala.marca }}",
						"image": "{{ pala.image.url }}",
						"description": "{{ pala.descripcion }}",
						"offers": {
							"@type": "Offer",
							"price": "{{ pala.precio }}",
							"priceCurrency": "USD",
							"availability": "https://schema.org/InStock"
						}
					}{% if not forloop.last %},{% endif %}
				{% endfor %}
			]
		}
		</script>
	<title>Padel Chiquito</title>
</head>	

<body class="h-screen">
	{% include "header.html" %}
	
	<ul id="quickFilters" class="flex flex-wrap justify-center gap-2 my-4 whitespace-nowrap lg:gap-x-10">
		<li class="bg-[#D1FF4F] px-4 py-1 rounded-full border-[1px] border-gray-600"><a href="{% url 'comparador_pala' %}">Todas</a></li>
		<li class="bg-[#D1FF4F] px-4 py-1 rounded-full border-[1px] border-gray-600"><a href="{% url 'mejores_palas_2023' %}">Mejores palas 2023</a></li>
		<li class="bg-[#D1FF4F] px-4 py-1 rounded-full border-[1px] border-gray-600"><a href="{% url 'mejores_palas_150' %}">Mejores palas &lt; 150€</a></li>
		<li class="bg-[#D1FF4F] px-4 py-1 rounded-full border-[1px] border-gray-600"><a href="{% url 'mejores_palas_ataque' %}">Mejores palas Potencia</a></li>
		<li class="bg-[#D1FF4F] px-4 py-1 rounded-full border-[1px] border-gray-600"><a href="{% url 'mejores_palas_defensa' %}">Mejores palas Control</a></li>
	</ul>
	
	<main>
		{% if filtro %}
			<!-- Filters form -->
			<form id="filters" method="post" action="{% url 'comparador_pala' %}" class="float-right w-full sm:w-7/12 md:w-fit bg-[rgb(53,58,61)] text-white hidden">
				{% csrf_token %}
				<div class="flex flex-col items-center justify-center">
					<div class="w-full z-50 border-b border-gray-200 bg-[rgb(53,58,61)] text-white py-4 px-6">
						<span class="mb-2 md:text-sm">Precio</span>
						<div class="flex flex-col items-center justify-center">
							<div class="flex flex-col items-center w-10/12 mb-3 md:w-auto gap-y-1">
								<div class="flex w-full gap-1">
									<span class="relative text-xs bottom-px">min</span>
									<input type="range" id="precio_range_min" class="w-full" step="1" min="{{ precio_min }}" max="{{ precio_max }}">
								</div>
								<div class="flex w-full gap-1">
									<span class="relative text-xs bottom-px">max</span>
									<input type="range" id="precio_range_max" class="w-full" step="1" min="{{ precio_min }}" max="{{ precio_max }}">
								</div>
							</div>
							<div class="flex justify-between w-full md:justify-around">
								<input type="number" class="w-[5.5rem] py-1 md:p-0 md:w-[4.5rem] border border-gray-300 bg-[rgb(53,58,61)] rounded text-center" name="precio_min" id="precio_min" value="{{ precio_min }}">
								<input type="number" class="w-[5.5rem] py-1 md:p-0 md:w-[4.5rem] border border-gray-300 bg-[rgb(53,58,61)] rounded text-center" name="precio_max" id="precio_max" value="{{ precio_max }}">
							</div>
						</div>
					</div>
					<div class="w-full z-50 border-b border-gray-200 text-white py-4 px-6 bg-[rgb(53,58,61)]">
						<span class="mb-2 md:text-sm">Potencia</span>
						<div class="flex flex-col items-center justify-center">
							<div class="flex flex-col items-center w-10/12 mb-3 md:w-auto gap-y-1">
								<div class="flex w-full gap-1">
									<span class="relative text-xs bottom-px">min</span>
									<input type="range" id="potencia_range_min" class="w-full" step="1" min="0" max="{{ potencia_min }}">
								</div>
								<div class="flex w-full gap-1">
									<span class="relative text-xs bottom-px">max</span>
									<input type="range" id="potencia_range_max" class="w-full" step="1" min="0" max="{{ potencia_max }}">
								</div>
							</div>
							<div class="flex justify-between w-full md:justify-around">
								<input type="number" class="w-[5.5rem] py-1 md:p-0 md:w-[4.5rem] border border-gray-300 bg-[rgb(53,58,61)] rounded text-center" name="potencia_min" id="potencia_min" value="{{ potencia_min }}">
								<input type="number" class="w-[5.5rem] py-1 md:p-0 md:w-[4.5rem] border border-gray-300 bg-[rgb(53,58,61)] rounded text-center" name="potencia_max" id="potencia_max" value="{{ potencia_max }}">
							</div>
						</div>
					</div>
					<div class="w-full z-50 border-b border-gray-200 text-white py-4 px-6 bg-[rgb(53,58,61)]">
						<span class="mb-2 md:text-sm">Bandeja</span>
						<div class="flex flex-col items-center justify-center">
							<div class="flex flex-col items-center w-10/12 mb-3 md:w-auto gap-y-1">
								<div class="flex w-full gap-1">
									<span class="relative text-xs bottom-px">min</span>
									<input type="range" id="bandeja_range_min" class="w-full" step="1" min="{{ bandeja_min }}" max="{{ bandeja_max }}">
								</div>
								<div class="flex w-full gap-1">
									<span class="relative text-xs bottom-px">max</span>
									<input type="range" id="bandeja_range_max" class="w-full" step="1" min="{{ bandeja_min }}" max="{{ bandeja_max }}">
								</div>
							</div>
							<div class="flex justify-between w-full md:justify-around">
								<input type="number" class="w-[5.5rem] py-1 md:p-0 md:w-[4.5rem] border border-gray-300 bg-[rgb(53,58,61)] rounded text-center" name="bandeja_min" id="bandeja_min" value="{{ bandeja_min }}">
								<input type="number" class="w-[5.5rem] py-1 md:p-0 md:w-[4.5rem] border border-gray-300 bg-[rgb(53,58,61)] rounded text-center" name="bandeja_max" id="bandeja_max" value="{{ bandeja_max }}">
							</div>
						</div>
					</div>
					<div class="w-full z-50 border-b border-gray-200 text-white py-4 px-6 bg-[rgb(53,58,61)]">
						<span class="mb-2 md:text-sm">Bajada de pared</span>
						<div class="flex flex-col items-center justify-center">
							<div class="flex flex-col items-center w-10/12 mb-3 md:w-auto gap-y-1">
								<div class="flex w-full gap-1">
									<span class="relative text-xs bottom-px">min</span>
									<input type="range" id="bajada_pared_range_min" class="w-full" step="1" min="{{ bajada_pared_min }}" max="{{ bajada_pared_max }}">
								</div>
								<div class="flex w-full gap-1">
									<span class="relative text-xs bottom-px">max</span>
									<input type="range" id="bajada_pared_range_max" class="w-full" step="1" min="{{ bajada_pared_min }}" max="{{ bajada_pared_max }}">
								</div>
							</div>
							<div class="flex justify-between w-full md:justify-around">
								<input type="number" class="w-[5.5rem] py-1 md:p-0 md:w-[4.5rem] border border-gray-300 bg-[rgb(53,58,61)] rounded text-center" name="bajada_pared_min" id="bajada_pared_min" value="{{ bajada_pared_min }}">
								<input type="number" class="w-[5.5rem] py-1 md:p-0 md:w-[4.5rem] border border-gray-300 bg-[rgb(53,58,61)] rounded text-center" name="bajada_pared_max" id="bajada_pared_max" value="{{ bajada_pared_max }}">
							</div>
						</div>
					</div>
					<div class="w-full z-50 border-b border-gray-200 text-white py-4 px-6 bg-[rgb(53,58,61)]">
						<span class="mb-2 md:text-sm">Fondo de pista</span>
						<div class="flex flex-col items-center justify-center">
							<div class="flex flex-col items-center w-10/12 mb-3 md:w-auto gap-y-1">
								<div class="flex w-full gap-1">
									<span class="relative text-xs bottom-px">min</span>
									<input type="range" id="fondo_pista_range_min" class="w-full" step="1" min="{{ fondo_pista_min }}" max="{{ fondo_pista_max }}">
								</div>
								<div class="flex w-full gap-1">
									<span class="relative text-xs bottom-px">max</span>
									<input type="range" id="fondo_pista_range_max" class="w-full" step="1" min="{{ fondo_pista_min }}" max="{{ fondo_pista_max }}">
								</div>
							</div>
							<div class="flex justify-between w-full md:justify-around">
								<input type="number" class="w-[5.5rem] py-1 md:p-0 md:w-[4.5rem] border border-gray-300 bg-[rgb(53,58,61)] rounded text-center" name="fondo_pista_min" id="fondo_pista_min" value="{{ fondo_pista_min }}">
								<input type="number" class="w-[5.5rem] py-1 md:p-0 md:w-[4.5rem] border border-gray-300 bg-[rgb(53,58,61)] rounded text-center" name="fondo_pista_max" id="fondo_pista_max" value="{{ fondo_pista_max }}">
							</div>
						</div>
					</div>
					<div class="w-full z-50 border-b border-gray-200 text-white py-4 px-6 bg-[rgb(53,58,61)]">
						<span class="mb-2 md:text-sm">Remate</span>
						<div class="flex flex-col items-center justify-center">
							<div class="flex flex-col items-center w-10/12 mb-3 md:w-auto gap-y-1">
								<div class="flex w-full gap-1">
									<span class="relative text-xs bottom-px">min</span>
									<input type="range" id="remate_range_min" class="w-full" step="1" min="{{ remate_min }}" max="{{ remate_max }}">
								</div>
								<div class="flex w-full gap-1">
									<span class="relative text-xs bottom-px">max</span>
									<input type="range" id="remate_range_max" class="w-full" step="1" min="{{ remate_min }}" max="{{ remate_max }}">
								</div>
							</div>
							<div class="flex justify-between w-full md:justify-around">
								<input type="number" class="w-[5.5rem] py-1 md:p-0 md:w-[4.5rem] border border-gray-300 bg-[rgb(53,58,61)] rounded text-center" name="remate_min" id="remate_min" value="{{ remate_min }}">
								<input type="number" class="w-[5.5rem] py-1 md:p-0 md:w-[4.5rem] border border-gray-300 bg-[rgb(53,58,61)] rounded text-center" name="remate_max" id="remate_max" value="{{ remate_max }}">
							</div>
						</div>
					</div>
					<div class="w-full z-50 border-b border-gray-200 text-white py-4 px-6 bg-[rgb(53,58,61)]">
						<span class="mb-2 md:text-sm">Volea</span>
						<div class="flex flex-col items-center justify-center">
							<div class="flex flex-col items-center w-10/12 mb-3 md:w-auto gap-y-1">
								<div class="flex w-full gap-1">
									<span class="relative text-xs bottom-px">min</span>
									<input type="range" id="volea_range_min" class="w-full" step="1" min="{{ volea_min }}" max="{{ volea_max }}">
								</div>
								<div class="flex w-full gap-1">
									<span class="relative text-xs bottom-px">max</span>
									<input type="range" id="volea_range_max" class="w-full" step="1" min="{{ volea_min }}" max="{{ volea_max }}">
								</div>
							</div>
							<div class="flex justify-between w-full md:justify-around">
								<input type="number" class="w-[5.5rem] py-1 md:p-0 md:w-[4.5rem] border border-gray-300 bg-[rgb(53,58,61)] rounded text-center" name="volea_min" id="volea_min" value="{{ volea_min }}">
								<input type="number" class="w-[5.5rem] py-1 md:p-0 md:w-[4.5rem] border border-gray-300 bg-[rgb(53,58,61)] rounded text-center" name="volea_max" id="volea_max" value="{{ volea_max }}">
							</div>
						</div>
					</div>
				</div>
				<div class="flex flex-col px-6 py-4 border-b border-gray-200 gap-y-4">
					<div class="flex gap-x-2">
						<label for="balance">Balance</label>
						<select id="balance" name="balance" class="flex-1 bg-[rgb(53,58,61)] border border-gray-400 focus-visible:outline-none w-40 m-auto rounded-sm pl-1">
							<option value="todas">Todas</option>
							{% for balance_opcion in balances %}
								<option value="{{ balance_opcion.0 }}" {% if balance_opcion.0 == balance_seleccionado %}selected{% endif %}>
									{{ balance_opcion.1 }}
								</option>
							{% endfor %}
						</select>
					</div>
					<div class="flex gap-x-2">
						<label for="dureza">Dureza</label>
						<select id="dureza" name="dureza" class="flex-1 bg-[rgb(53,58,61)] border border-gray-400 focus-visible:outline-none w-40 m-auto rounded-sm pl-1">
							<option value="todas">Todas</option>
							{% for dureza_opcion in tactos %}
								<option value="{{ dureza_opcion.0 }}" {% if dureza_opcion == dureza_seleccionada %}selected{% endif %}>
									{{ dureza_opcion.1 }}
								</option>
							{% endfor %}
						</select>
					</div>
					<div class="flex gap-x-2">
						<label for="forma">Forma</label>
						<select id="forma" name="forma" class="flex-1 bg-[rgb(53,58,61)] border border-gray-400 focus-visible:outline-none w-40 mx-auto rounded-sm pl-1">
							<option value="todas">Todas</option>
							{% for forma in formas %}
								<option value="{{ forma.0 }}" {% if forma.0 == forma_seleccionada %}selected{% endif %}>
									{{ forma.1 }}
								</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div>
					<button type="submit" class="py-2 transition-all w-full font-medium hover:bg-[rgb(33,38,41)]">
						Aplicar Filtros
					</button>
				</div>
			</form>
		{% endif %}
		{% if palas %}
			<div class="relative overflow-x-auto">
				<table class="w-full text-sm text-left rtl:text-right">
					<thead class="text-sm text-gray-900 bg-gray-200">
						<tr class="text-center">
							<th scope="col" class="px-6 py-2 whitespace-nowrap">Imagen</th>
							<th scope="col" class="px-6 py-2 whitespace-nowrap">Temporada</th>
							<th scope="col" class="px-6 py-2 whitespace-nowrap">Marca</th>
							<th scope="col" class="px-6 py-2 whitespace-nowrap">Nombre</th>
							<th scope="col" class="px-6 py-2 whitespace-nowrap">Forma</th>
							<th scope="col" class="px-6 py-2 whitespace-nowrap">Manejabilidad</th>
							<th scope="col" class="px-6 py-2 whitespace-nowrap">Punto Dulce</th>
							<th scope="col" class="px-6 py-2 whitespace-nowrap">Salida Bola</th>
							<th scope="col" class="px-6 py-2 whitespace-nowrap">Defensa</th>
							<th scope="col" class="px-6 py-2 whitespace-nowrap">Ataque</th>
							<th scope="col" class="px-6 py-2 whitespace-nowrap">Puntuación Total</th>
						</tr>
					</thead>
					<tbody class="text-center">
						{% for pala in palas %}
							<tr class="bg-white border-b">
								<td class="flex items-center justify-center">
									<a href="{% url 'mostrar_pala' pk=pala.pk %}">
										{% if pala.imagen %}
											<img src="{{ pala.imagen.url }}" alt="{{ pala.nombre }}" width="50px" height="50px">
										{% else %}
											<picture>
												<source srcset='{% static "img/no-image-found.webp" %}' type="image/webp">
												<img src='{% static "img/no-image-found.png" %}' alt="{{ pala.nombre }}" width="50px" height="50px">
											</picture>
										{% endif %}
									</a>
								</td>
								<td class="px-6 py-2 whitespace-nowrap">
									<a href="{% url 'mostrar_pala' pk=pala.pk %}">{{ pala.temporada }}</a>
								</td>
								<td class="px-6 py-2 whitespace-nowrap">
									<a href="{% url 'mostrar_pala' pk=pala.pk %}">{{ pala.marca }}</a>
								</td>
								<td class="px-6 py-2 whitespace-nowrap">
									<a href="{% url 'mostrar_pala' pk=pala.pk %}">{{ pala.nombre }}</a>
								</td>
								<td class="px-6 py-2 whitespace-nowrap">
									<a href="{% url 'mostrar_pala' pk=pala.pk %}">{{ pala.forma }}</a>
								</td>
								<td class="px-6 py-2 whitespace-nowrap">
									<a href="{% url 'mostrar_pala' pk=pala.pk %}">{{ pala.manejabilidad }}</a>
								</td>
								<td class="px-6 py-2 whitespace-nowrap">
									<a href="{% url 'mostrar_pala' pk=pala.pk %}">{{ pala.punto_dulce }}</a>
								</td>
								<td class="px-6 py-2 whitespace-nowrap">
									<a href="{% url 'mostrar_pala' pk=pala.pk %}">{{ pala.salida_bola }}</a>
								</td>
								<td class="px-6 py-2 whitespace-nowrap">
									<a href="{% url 'mostrar_pala' pk=pala.pk %}">{{ pala.defensa }}</a>
								</td>
								<td class="px-6 py-2 whitespace-nowrap">
									<a href="{% url 'mostrar_pala' pk=pala.pk %}">{{ pala.ataque }}</a>
								</td>
								<td class="px-6 py-2 whitespace-nowrap">
									<a href="{% url 'mostrar_pala' pk=pala.pk %}">{{ pala.puntuacion_total }}</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
					
				</table>
			</div>
		{% else %}
			<p>No se encontraron palas que coincidan con los filtros.</p>
		{% endif %}

	</main>
	{% include "footer.html" %}
	<script src="{% static 'js/comparador/comparadorPalas.js' %}"></script>


</body>

</html>