{% load static %}

<footer class="flex flex-col items-center justify-center w-full py-12 mt-auto text-white bg-gray-900 gap-y-1">
  <ul class="flex justify-between gap-x-4">
    <li>
      <a href="https://www.youtube.com/@PadelChiquito" aria-label="Link al Youtube de la pagina">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 stroke-electric-lime hover:stroke-electric-lime" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z" />
          <path d="M10 9l5 3l-5 3z" />
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.tiktok.com/@padelchiquito" aria-label="Link al TikTok de la pagina">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 stroke-electric-lime hover:stroke-electric-lime" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z" />
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/padelchiquito/" aria-label="Link al Instagram de la pagina">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 stroke-electric-lime hover:stroke-electric-lime" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
          <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
          <path d="M16.5 7.5l0 .01" />
        </svg>
      </a>
    </li>
  </ul>
  <span>&copy; 2023 Copyright: Padel Chiquito</span>
  <div class="flex flex-col text-sm text-center text-gray-300 sm:flex-row gap-x-2">
    <span class="transition-colors hover:text-gray-400"><a href="{% static 'pdfs/privacidad.doc' %}">Políticas de Privacidad</a></span>
    <span class="hidden sm:block">|</span>
    <span class="transition-colors hover:text-gray-400"><a href="{% static 'pdfs/cookies.doc' %}">Políticas de Cookies</a></span>
    <span class="hidden sm:block">|</span>
    <span class="transition-colors hover:text-gray-400"><a href="{% static 'pdfs/condiciones.doc' %}">Términos y Condiciones</a></span>
  </div>
</footer>