{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-0RWPXTZDX2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
	
		gtag('config', 'G-0RWPXTZDX2');
	</script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='{% static "css/output.css" %}'>
  <meta name="description" content="Padel Chiquito: Tu destino principal para comparar y encontrar las mejores palas de pádel. Explora una amplia gama de marcas y modelos para mejorar tu juego.">
  <meta name="keywords" content="Padel Chiquito, palas de pádel, comparador de palas, mejores palas de pádel, marcas de palas, potencia, manejo, comparativas de palas">
  <link rel="canonical" href="https://padelchiquito.com">
	<meta name="robots" content="index, follow">
  <meta property="og:site_name" content="Padel Chiquito">
  <meta property="og:url" content="https://padelchiquito.com">
  <meta property="og:title" content="Padel Chiquito">
  <meta property="og:type" content="website">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href='{% static "img/favicon/apple-touch-icon.png" %}'>
  <link rel="icon" type="image/png" sizes="32x32" href='{% static "img/favicon/favicon-32x32.png" %}'>
  <link rel="icon" type="image/png" sizes="16x16" href='{% static "img/favicon/favicon-16x16.png" %}'>
	<!-- JSON-LD -->
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "Organization",
			"name": "Padel Chiquito",
			"url": "https://padelchiquito.com",
			"logo": "{% static "img/favicon/favicon-32x32.png" %}",
			"sameAs": [
				"https://www.instagram.com/padelchiquito/",
				"https://www.youtube.com/@PadelChiquito",
				"https://www.tiktok.com/@padelchiquito"
			]
		}
	</script>
	<title>Padel Chiquito | Comparador de Palas de Pádel - Mejores Marcas y Modelos</title>
</head>

<body class="flex flex-col min-h-screen">
	{% include "header.html" %}
	<main class="flex flex-col py-6 md:py-1 gap-y-6">
		<!-- Banner inicial, filtrar precios -->
		<section class="flex flex-col md:flex-row gap-x-1 w-full">
			<div class="flex flex-col w-full md:w-1/2 gap-y-20 p-12 bg-electric-lime">
				<h1 class="text-3xl sm:text-4xl md:text-[2.5rem] md:leading-[3rem] xl:text-5xl 2xl:text-6xl font-bold">¿Cuánto te quieres gastar en tu próxima pala?</h1>
				<form id="maxPriceForm"	class="flex items-center flex-col gap-y-6" action="{% url 'comparador_pala' %}" method="post">
					{% csrf_token %}
					<div class="w-full relative">
						<div id="tooltip" role="tooltip" class="bg-black text-white text-xs font-semibold rounded-full w-fit py-2 px-4 min-w-32 relative bottom-2 text-center z-10">Menos de €100</div>
						<input type="range" name="precio_max" id="precio_max" min="0" max="650" value="100" class="w-full h-7">
					</div>
					<a href="/filtros/" class="bg-black rounded-full text-white w-fit py-1.5 px-4 text-sm font-medium">Ver todas las palas</a>
				</form>
			</div>
			<!-- Anuncio 1 -->
			<a href="{{ bannerspubli.url }}" class="w-full md:w-1/2 flex">
				<img class="object-cover w-full h-full" src="{{ bannerspubli.inicio_1.url }}" alt="Inicio 1">
			</div>
		</section>

		<div class="w-full" role="banner">
			<a href="/entrenamientos/">
				<picture>
					<source srcset="{% static 'img/sport-chiquito-banner.webp' %}" type="image/webp">
					<img class="object-cover w-full h-full" src="{% static 'img/sport-chiquito-banner.png' %}" alt="SportChiquito" loading="lazy">
				</picture>
			</a>
		</div>

		<section class="w-full overflow-hidden px-4 sm:px-7 md:px-12 py-7 bg-gray-fog">
			<header id="mostWantedHeader" class="flex gap-x-2 items-center pb-6 mx-auto">
				<picture>
					<source srcset="{% static 'img/hot-icon.svg' %}" type="image/svg+xml">
					<img src="{% static 'img/hot-icon.png' %}" alt="Hot icon" width="24" height="24">
				</picture>
				<h2 class="text-xs leading-none xs:text-sm sm:text-base md:text-lg lg:text-xl md:leading-6 font-bold">Descubre las palas de pádel más populares en Padel Chiquito</h2>
			</header>
			<div class="w-full overflow-x-auto scrollbar-hidden">
				<ul id="mostWanted" class="w-full md:w-max md:mx-auto grid grid-rows-2 gap-3 md:gap-x-12 md:gap-y-7 grid-flow-col auto-cols-[minmax(11rem,0fr)] md:auto-cols-[minmax(16rem,0fr)]">
					{% for pala in top_favoritas %}
						<a href="{% url 'mostrar_pala' pk=pala.pk %}">
							<li class="flex h-[6.5rem] md:h-[10.625rem] w-44 md:w-64 bg-white rounded relative">
								<span class="text-xs md:text-base absolute top-1 md:top-1.5 left-1.5 md:left-3 font-semibold leading-none">{{ forloop.counter }}</span>
								<div>
									<img src="{{ pala.imagen.url }}" class="w-36 h-full object-contain" alt="{{ pala.nombre }}" loading="lazy">
								</div>
								<div class="flex justify-between pt-4 pb-2 md:pt-7 md:pb-6 flex-col">
									<div class="flex flex-col gap-y-1.5 md:gap-y-4 text-xs md:text-sm">
										<span>{{ pala.marca }}</span>
										<h3>{{ pala.nombre }}</h3>
										<span class="text-sm md:text-xl font-semibold">{{ pala.precio }} &euro;</span>
									</div>
								</div>
							</li>
						</a>
					{% endfor %}
				</ul>
			</div>
		</section>

		<!-- Anuncio 2 -->
		<a class="w-full" href="{{ bannerspubli.url }}">
			<img class="object-cover w-full h-full" src="{{ bannerspubli.inicio_2.url }}" alt="{{ bannerspubli.inicio_2.url }}" loading="lazy">
		</a>
				
		<div class="w-full px-7 py-2 md:px-12 md:py-6 overflow-x-auto scrollbar-hidden">
			<div class="w-full md:w-max md:mx-auto grid grid-cols-1 gap-x-9 gap-y-5 sm:grid-cols-[repeat(3,_minmax(23rem,_0fr))]">
				<article class="flex flex-col w-full md:max-w-xl">
					<header class="mb-7">
						<h2 class="font-semibold text-xl leading-6">Top 2024</h2>
					</header>
					<ol class="flex flex-col gap-y-2 mb-3">
						{% for pala in top_2024 %}
							<li class="w-full gap-x-5 flex justify-between items-center font-semibold text-xs xs:text-sm leading-4">
								<span class="flex gap-x-2 truncate">
									<span>{{ forloop.counter }}</span>  
									<span class="truncate">{{ pala.nombre }}</span>
								</span>
								<span class="text-[#92C600] whitespace-nowrap">{{ pala.precio }} &euro;</span>
							</li>
						{% endfor %}
					</ol>
					<a id="best2024" class="bg-black w-fit self-center rounded-full text-white py-1.5 px-4 text-sm font-medium" href="/mejores-palas-2024/">
						Ver lista completa
					</a>
				</article>
	
				<article class="flex flex-col w-full md:max-w-xl">
					<header class="mb-7">
						<h2 class="font-semibold text-xl leading-6">Top Potencia</h2>
					</header>
					<ol class="flex flex-col gap-y-2 mb-3">
						{% for pala in top_ataque %}
							<li class="w-full gap-x-5 flex justify-between items-center font-semibold text-xs xs:text-sm leading-4">
								<span class="flex gap-x-2 truncate">
									<span>{{ forloop.counter }}</span>  
									<span class="truncate">{{ pala.nombre }}</span>
								</span>
								<span class="text-[#92C600] whitespace-nowrap">{{ pala.precio }} &euro;</span>
							</li>
						{% endfor %}
					</ol>
					<a id="power" class="bg-black w-fit self-center rounded-full text-white py-1.5 px-4 text-sm font-medium" href="/mejores_palas-ataque/">
						Ver lista completa
					</a>
				</article>
	
				<article class="flex flex-col w-full md:max-w-xl">
					<header class="mb-7">
						<h2 class="font-semibold text-xl leading-6">Top Control</h2>
					</header>
					<ol class="flex flex-col gap-y-2 mb-3">
						{% for pala in top_defensa %}
							<li class="w-full gap-x-5 flex justify-between items-center font-semibold text-xs xs:text-sm leading-4">
								<span class="flex gap-x-2 truncate">
									<span>{{ forloop.counter }}</span>  
									<span class="truncate">{{ pala.nombre }}</span>
								</span>
								<span class="text-[#92C600] whitespace-nowrap">{{ pala.precio }} &euro;</span>
							</li>
						{% endfor %}
					</ol>
					<a id="control" class="bg-black w-fit self-center rounded-full text-white py-1.5 px-4 text-sm font-medium" href="/mejores-palas-defensa/">
						Ver lista completa
					</a>
				</article>
			</div>
		</div>

		<!-- Anuncio 3 -->
		<a href="{{ bannerspubli.url }}" class="w-full">
			<img class="object-cover w-full h-full" src="{{ bannerspubli.inicio_3.url }}" alt="{{ bannerspubli.inicio_3.url }}" loading="lazy">
		</div>

		<article class="w-full flex flex-col gap-y-8 justify-center items-center mt-4 mb-6 md:mb-8">
			<header>
				<h2 class="font-semibold text-[2.5rem] leading-[3rem]">Blog</h2>
			</header>
			<div id="blogs" class="grid max-w-2xl grid-cols-1 mx-auto gap-x-8 px-7 md:px-12 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
				{% for blog in blogs %}
					<article class="flex flex-col items-start">
						<div>
							<img src="{% if blog.portada %} {{ blog.portada.url }} {% endif %}" alt="{{ blog.titulo }}" class="rounded">
						</div>
						<div class="flex items-center mt-4 text-xs gap-x-4">
							<time datetime="{{ blog.fecha|date:'Y-m-d H:i:s' }}" class="text-gray-500">{{ blog.fecha|date:"F j, Y" }}</time>
						</div>
						<div class="relative group">
							<h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
								<a href="{% url 'blog' idBlog=blog.id %}">
									{{ blog.titulo }}
								</a>
							</h3>
							<p class="mt-5 text-sm leading-6 text-gray-600 overflow-hidden">
								{{ blog.descripcion }}
							</p>
						</div>
						<div class="flex items-center gap-x-3 mt-6">
							<img class="h-9 w-9 rounded-full" src="{{ blog.fotoAutor.url }}" alt="{{ blog.fotoAutor.url }}" loading="lazy">
							<span class="font-medium">{{ blog.autor.username }}</span>
						</div>
					</article>
				{% endfor %}
			</div>
			<a href="/blogs/" role="button" class="bg-black w-fit self-center rounded-full text-white py-1.5 px-4 text-xl leading-6 font-medium">
				Ver más
			</a>
		</article>
	</main>
	{% include "cookies.html" %}
	{% include "footer.html" %}
  <script defer src="{% static 'js/header.js' %}"></script>
	<script async src="{% static 'js/home/priceRange.js' %}"></script>
	<script async src="{% static 'js/home/mostWanted.js' %}"></script>
</body>

</html>