{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='{% static "css/output.css" %}'>
  <meta name="description" content="Padel Chiquito: Tu destino principal para comparar y encontrar las mejores palas de pádel. Explora una amplia gama de marcas y modelos para mejorar tu juego.">
  <meta name="keywords" content="Padel Chiquito, palas de pádel, comparador de palas, mejores palas de pádel, marcas de palas, potencia, manejo, comparativas de palas">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href='{% static "img/favicon/apple-touch-icon.png" %}'>
  <link rel="icon" type="image/png" sizes="32x32" href='{% static "img/favicon/favicon-32x32.png" %}'>
  <link rel="icon" type="image/png" sizes="16x16" href='{% static "img/favicon/favicon-16x16.png" %}'>
  <!-- JSON-LD -->
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Product",
      "name": "Padel Chiquito",
      "description": "Tu destino principal para comparar y encontrar las mejores palas de pádel. Explora una amplia gama de marcas y modelos para mejorar tu juego.",
      "brand": {
        "@type": "Brand",
        "name": "Padel Chiquito"
      },
      "image": "{{ pala.image.url }}",
      "offers": {
        "@type": "Offer",
        "priceCurrency": "EUR",
        "price": {{ pala.precio }},
        "availability": "http://schema.org/InStock",
      }
    }
  </script>
  <title>Padel Chiquito</title>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-0RWPXTZDX2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-0RWPXTZDX2');
  </script>
</head>
<body class="flex flex-col h-screen">
  {% include "header.html" %}
  <main class="flex flex-col px-4 py-4 gap-y-12 sm:px-8 md:px-10 lg:px-36">
    <article class="flex flex-col justify-center mb-2 md:flex-row gap-x-10 gap-y-6">
      <div class="flex min-w-[14rem] self-center md:self-auto w-56 max-h-[12.5rem]">
        {% if pala.imagen %}
          <img class="object-contain w-full min-h-0" width="288" height="200" src="{{ pala.imagen.url }}" alt="{{ pala.nombre }}">
        {% else %}
          <img class="object-contain w-full min-h-0" width="288" height="200" src='{% static "img/no-image-found.png" %}'  alt="{{ pala.nombre }}">
        {% endif %}
      </div>
      <section class="flex flex-col sm:flex-row gap-x-10 gap-y-6">
        <div class="flex flex-col gap-y-4">
          <h1 class="text-3xl font-bold text-gray-600 first-letter:uppercase">{{ pala.nombre }}</h1>
          <div class="text-xl text-gray-500 truncate lg:text-lg">
            <p><strong class="font-semibold text-gray-600" id="temporada">Temporada:</strong> {{ pala.temporada }}</p>
            <p><strong class="font-semibold text-gray-600" id="materialMarco">Material del marco:</strong> {{ pala.material_marco }} </p>
            <p><strong class="font-semibold text-gray-600" id="materialPlano">Material del plano:</strong> {{ pala.material_plano }} </p>
            <p><strong class="font-semibold text-gray-600" id="materialGoma">Material de la goma:</strong> {{ pala.material_goma }}</p>
            <p><strong class="font-semibold text-gray-600" id="tacto">Tacto:</strong> {{ pala.get_tacto_display }}</p>
            <p><strong class="font-semibold text-gray-600" id="forma">Forma:</strong> {{ pala.get_forma_display }}</p>
            <p><strong class="font-semibold text-gray-600" id="peso">Peso:</strong> {{ pala.peso }}</p>
            <p><strong class="font-semibold text-gray-600" id="balance">Balance:</strong> {{ pala.get_balance_display }}</p>
          </div>
        </div>
        <div class="p-4 text-center sm:p-10 md:p-6 lg:p-10 bg-electric-lime rounded-xl h-fit">
          <span class="text-lg" id="mejorPrecio">Mejor precio</span>
          <div class="flex flex-col justify-center">
            {% if isLower %}
            <span class="text-lg line-through">{{ pala.precio }}</span>
            {% endif %}
            <span class="text-2xl">{{ lowest }}&euro;</span>
          </div>
        </div>
      </section>
    </article>
    <section class="flex flex-col w-full gap-y-2">
      <h2 class="text-3xl font-bold text-gray-700" id="puntuacion">Puntuación</h2>
      <div class="grid w-full sm:grid-cols-3 md:grid-cols-4 gap-x-6">
        <div class="w-full">
          <input id="palaControl" type="hidden" name="palaControlInput" value="{{ pala.control }}">
          <span id="control">Control: {{ pala.control }}</span>
          <div class="w-full h-3 bg-gray-400 rounded-full">
            <div id="palaControlBarra" class="h-3 bg-blue-500 rounded-full"></div>
          </div>
        </div>
        <div class="w-full">
          <input id="palaPotencia" type="hidden" name="palaPotenciaInput" value="{{ pala.potencia }}">
          <span id="potencia">Potencia: {{ pala.potencia }}</span>
          <div class="w-full h-3 bg-gray-400 rounded-full">
            <div id="palaPotenciaBarra" class="h-3 bg-blue-500 rounded-full"></div>
          </div>
        </div>
        <div>
          <input id="palaDefensa" type="hidden" name="palaDefensaInput" value="{{ pala.defensa }}">
          <span id="defensa">Defensa: {{ pala.defensa }}</span>
          <div class="w-full h-3 bg-gray-400 rounded-full">
            <div id="palaDefensaBarra" class="h-3 bg-blue-500 rounded-full"></div>
          </div>
        </div>
        <div>
          <input id="palaAtaque" type="hidden" name="palaAtaqueInput" value="{{ pala.ataque }}">
          <span id="ataque">Ataque: {{ pala.ataque }}</span>
          <div class="w-full h-3 bg-gray-400 rounded-full">
            <div id="palaAtaqueBarra" class="h-3 bg-blue-500 rounded-full"></div>
          </div>
        </div>
        <div class="w-full">
          <input id="palaManejabilidad" type="hidden" name="palaManejabilidadInput" value="{{ pala.manejabilidad }}">
          <span id="manejabilidad">Manejabilidad: {{ pala.manejabilidad }}</span>
          <div class="w-full h-3 bg-gray-400 rounded-full">
            <div id="palaManejabilidadBarra" class="h-3 rounded-full bg-electric-lime"></div>
          </div>
        </div>
        <div>
          <input id="palaRemate" type="hidden" name="palaRemateInput" value="{{ pala.remate }}">
          <span id="remate">Remate: {{ pala.remate }}</span>
          <div class="w-full h-3 bg-gray-400 rounded-full">
            <div id="palaRemateBarra" class="h-3 rounded-full bg-electric-lime"></div>
          </div>
        </div>
        <div class="w-full">
          <input id="palaSalidaBola" type="hidden" name="palaSalidaBolaInput" value="{{ pala.salida_bola }}">
          <span id="salidaBola">Salida de bola: {{ pala.salida_bola }}</span>
          <div class="w-full h-3 bg-gray-400 rounded-full">
            <div id="palaSalidaBolaBarra" class="h-3 rounded-full bg-electric-lime"></div>
          </div>
        </div>
        <div class="w-full">
          <input id="palaVolea" type="hidden" name="palaVoleaInput" value="{{ pala.volea }}">
          <span id="volea">Volea: {{ pala.volea }}</span>
          <div class="w-full h-3 bg-gray-400 rounded-full">
            <div id="palaVoleaBarra" class="h-3 rounded-full bg-electric-lime"></div>
          </div>
        </div>
        <div class="w-full">
          <input id="palaPuntoDulce" type="hidden" name="palaPuntoDulceInput" value="{{ pala.punto_dulce }}">
          <span id="puntoDulce">Punto dulce: {{ pala.punto_dulce }}</span>
          <div class="w-full h-3 bg-gray-400 rounded-full">
            <div id="palaPuntoDulceBarra" class="h-3 rounded-full bg-electric-lime"></div>
          </div>
        </div>
        <div class="w-full">
          <input id="palaBajadaPared" type="hidden" name="palaBajadaParedInput" value="{{ pala.bajada_de_pared }}">
          <span id="bajada">Bajada: {{ pala.bajada_de_pared }}</span>
          <div class="w-full h-3 bg-gray-400 rounded-full">
            <div id="palaBajadaParedBarra" class="h-3 rounded-full bg-electric-lime"></div>
          </div>
        </div>
        <div class="w-full">
          <input id="palaFondoPista" type="hidden" name="palaFondoPistaInput" value="{{ pala.fondo_de_pista }}">
          <span id="fondoPista">Fondo de pista: {{ pala.fondo_de_pista }}</span>
          <div class="w-full h-3 bg-gray-400 rounded-full">
            <div id="palaFondoPistaBarra" class="h-3 rounded-full bg-electric-lime"></div>
          </div>
        </div>
        <div class="w-full">
          <input id="palaBandeja" type="hidden" name="palaBandejaInput" value="{{ pala.bandeja }}">
          <span id="bandeja">Bandeja: {{ pala.bandeja }}</span>
          <div class="w-full h-3 bg-gray-400 rounded-full">
            <div id="palaBandejaBarra" class="h-3 rounded-full bg-electric-lime"></div>
          </div>
        </div>
      </div>
      <div>
        <input id="palaPuntuacionTotal" type="hidden" name="palaPuntuacionTotalInput" value="{{ pala.puntuacion_total }}">
        <span class="text-lg font-medium text-gray-700" id="puntuacionTotal">Puntuación total: {{ pala.puntuacion_total }}</span>
        <div class="w-full h-4 bg-gray-400 rounded-full">
          <div id="palaPuntuacionTotalBarra" class="h-4 bg-gray-800 rounded-full"></div>
        </div>
      </div>
    </section>
  
    <!-- Sección para valoraciones -->
    <!-- <section class="p-2 bg-red-100">
      <h2>Valoraciones de "{{ pala.nombre }}"</h2>
      {% if ha_valorado %}
        <p>Valoración media: {% if valoracion_media %}{{ valoracion_media }}{% else %}No hay valoraciones aún{% endif %}</p>
      {% else %}
        <form action="{% url 'valorar_pala' pala.pk %}" method="post">
          {% csrf_token %}
          <input type="number" name="valoracion" min="1" max="5">
          <input type="submit" value="Valorar">
        </form>
      {% endif %}
    </section> -->
    
    <section class="flex flex-col w-full text-gray-700 gap-y-8">
      <h2 class="text-3xl font-bold text-center" id="tiendasPrecios">Tiendas y precios más recientes</h2>
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        {% for precio in precios_mas_recientes %}
          <a href="{{ precio.tienda.url }}" class="flex flex-col justify-around p-4 text-center transition-transform bg-[#fafafa] rounded-lg h-80 gap-y-6 hover:scale-105">
            <div class="w-40 h-20 mx-auto">
              <img src="{{ precio.tienda.imagen.url }}">
            </div>
            <div class="flex flex-col mb-8 sm:mb-4">
              <span class="mb-1 text-xl font-bold">{{ precio.tienda.nombre }}</span>
              <span class="text-lg">{{ precio.precio }} &euro;</span>
            </div>
            <div class="flex flex-col gap-y-1">
              <span class="text-sm text-gray-800" id="codigos">Código promocional: {{ precio.tienda.codigo_promocional }}</span>
              <span class="text-sm text-gray-800" id="descuentos">Descuento: {{ precio.tienda.descuento }}%</span>
            </div>
          </a>
        {% endfor %}
      </div>
    </section>
  
    <!-- Sección de historial de precios con la gráfica generada por matplotlib -->
    <section class="flex flex-col items-center justify-center w-full p-2 gap-y-8">
      <h2 class="text-3xl font-bold text-center text-gray-700" id="historialPrecios">Historial de precios</h2>
      <img src="data:image/png;base64,{{ grafica_base64 }}" width="800" height="600" alt="Gráfica de historial de precios">
    </section>
  
    <!-- Sección de palas similares -->
    <section class="flex flex-col w-full text-gray-700 gap-y-8">
      <h2 class="text-3xl font-bold text-center" id="palasSimilares">Palas similares</h2>
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        {% for pala_similar in palas_similares %}
          <a href="{% url 'mostrar_pala' pala_similar.pk %}" class="flex flex-col items-center p-4 text-center transition-transform rounded bg-[#fafafa] h-80 hover:scale-105">
            <div class="w-40 h-40 mb-2 overflow-hidden bg-white rounded-full">
              <img src="{{ pala_similar.imagen.url }}" alt="{{ pala_similar.nombre }}" class="object-cover w-full">
            </div>
            <span class="text-xl font-bold">{{ pala_similar.nombre }}</span>
            <span class="text-sm text-gray-500" id="similarMarca">Marca: <span>{{ pala_similar.marca }}</span></span>
          </a>
        {% empty %}
          <span>No se encontraron palas similares.</span>
        {% endfor %}
      </div>
    </section>    
  
    <!-- Sección de reviews -->
    <section class="flex flex-col w-full text-gray-700 gap-y-8">
      <h2 class="text-3xl font-bold text-center" id="reviewsPala">Reviews de la pala "{{ pala.nombre }}"</h2>
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        {% for review in reviews %}
          {% if review.plataforma == 'YOUTUBE' %}
            <a href="#" class="flex gap-y-2 h-full justify-center overflow-hidden flex-col items-center text-center transition-transform rounded bg-[#fafafa] hover:scale-105">
              {% else %}
                <a href="{{ review.video_url }}" class="flex gap-y-2 h-56 justify-center overflow-hidden flex-col items-center p-4 text-center transition-transform rounded bg-[#fafafa] hover:scale-105"></a>
              {% endif %}
              <span class="mx-4 mt-4">{{ review.titulo }}</span>
              {% if review.plataforma == 'INSTA' %}
                <picture>
                  <source srcset="{% static 'img/Instagram_logo_2016.webp' %}" type="image/webp">
                  <img src="{% static 'img/Instagram_logo_2016.png' %}" alt="Instagram logo" width="50" height="50">
                </picture>
              {% elif review.plataforma == 'TIKTOK' %}
                <picture>
                  <source srcset="{% static 'img/Tiktok_logo.webp' %}" type="image/webp">
                  <img src="{% static 'img/Tiktok_logo.png' %}" alt="TikTok logo" width="50" height="50">
                </picture>
              {% elif review.plataforma == 'YOUTUBE' %}
                <div class="w-full aspect-video">
                  <iframe id="ytplayer" type="text/html" class="w-full h-full" src="{{ review.video_url }}" allowfullscreen frameborder="0"></iframe>
                </div>
              {% endif %}
              <div class="flex flex-col mx-4 mb-4">
                <span>{{ review.get_plataforma_display }}</span>
                <span class="text-sm text-gray-500">{{ review.fecha }}</span>
              </div>
            </a>
          {% empty %}
          <span class="text-gray-500" id="noreviews">No hay reviews para esta pala.</span>
        {% endfor %}
      </div>
    </section>
  
    <!-- Sección de comentarios -->
    <section class="w-full py-8 antialiased bg-white">
      <div class="flex items-center justify-between mb-6">
        <h2 class="text-lg font-bold text-gray-700 lg:text-2xl" id="tituloComentarios">Comentarios</h2>
      </div>
      <form class="mb-6" method="post" action="{% url 'comentar_pala' pala.pk %}">
        {% csrf_token %}
        <div class="px-4 py-2 mb-4 transition-colors bg-white border border-gray-200 border-solid rounded-lg rounded-t-lg hover:border-electric-lime">
          <label for="comment" class="sr-only" id="tuComentario">Tu comentario</label>
          <textarea id="comment" name="contenido" rows="6" class="w-full px-0 text-sm text-gray-900 focus:outline-none" placeholder="Escribe un comentario..." required></textarea>
        </div>
        <input type="submit" id="agregarComentario" value="Agregar comentario" class="inline-flex items-center py-2.5 px-4 bg-electric-lime hover:bg-lime-zest transition-colors font-medium text-center rounded-full"></input>
      </form>
      {% for comentario in comentarios %}
        <article class="p-4 text-base bg-white rounded-lg ">
          <footer class="flex items-center justify-between mb-2">
            <div class="flex items-center gap-x-px">
              <img class="w-6 h-6 mr-2 rounded-full" src="{% static 'img/user.png' %}" alt="Foto de perfil">
              <span class="inline-flex items-center mr-3 text-sm font-semibold text-gray-900">{{ comentario.usuario.username }}</span>
              <span class="text-sm text-gray-600">{{ comentario.fecha }}</span>
            </div>
          </footer>
          <p class="text-gray-500">{{ comentario.contenido }}</p>
        </article>
        {% empty %}
        <span class="text-gray-500" id="nocomentarios">No hay comentarios aún.</span>
      {% endfor %}
    </section>
  </main>
  {% include "footer.html" %}
  <script src="{% static 'js/comparador/mostrarPala.js' %}"></script>
  <script>
    var palaData = {
      temporada: "{{ pala.temporada }}",
      materialMarco: "{{ pala.material_marco }}",
      materialPlano: "{{ pala.material_plano }}",
      materialGoma: "{{ pala.material_goma }}",
      tacto: "{{ pala.get_tacto_display }}",
      forma: "{{ pala.get_forma_display }}",
      peso: "{{ pala.peso }}",
      balance: "{{ pala.get_balance_display }}",
      control: "{{ pala.control }}",
      potencia: "{{ pala.potencia }}",
      defensa: "{{ pala.defensa }}",
      ataque: "{{ pala.ataque }}",
      manejabilidad: "{{ pala.manejabilidad }}",
      remate: "{{ pala.remate }}",
      salidaBola: "{{ pala.salida_bola }}",
      volea: "{{ pala.volea }}",
      puntoDulce: "{{ pala.punto_dulce }}",
      bajada: "{{ pala.bajada_de_pared }}",
      fondoDePista: "{{ pala.fondo_de_pista }}",
      bandeja: "{{ pala.bandeja }}",
      puntuacionTotal: "{{ pala.puntuacion_total }}",
      palaNombre: "{{ pala.nombre }}"
    };
  </script>
  <script src="{% static 'js/traducciones/traduccion-mostrar_pala.js' %}"></script>
</body>

</html>