{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-0RWPXTZDX2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-0RWPXTZDX2');
	</script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='{% static "css/output.css" %}'>
  <meta name="description" content="Padel Chiquito: Tu destino principal para comparar y encontrar las mejores palas de pádel. Explora una amplia gama de marcas y modelos para mejorar tu juego.">
  <meta name="keywords" content="Padel Chiquito, palas de pádel, comparador de palas, mejores palas de pádel, marcas de palas, potencia, manejo, comparativas de palas">
	<link rel="canonical" href="https://padelchiquito.com/versus">
	<meta name="robots" content="index, follow">
	<meta property="og:site_name" content="Padel Chiquito">
  <meta property="og:url" content="https://padelchiquito.com/versus">
  <meta property="og:title" content="Comparador de Palas de Pádel - Padel Chiquito">
  <meta property="og:type" content="website">
  <meta property="twitter:title" content="Comparador de Palas de Pádel - Padel Chiquito">
	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href='{% static "img/favicon/apple-touch-icon.png" %}'>
	<link rel="icon" type="image/png" sizes="32x32" href='{% static "img/favicon/favicon-32x32.png" %}'>
	<link rel="icon" type="image/png" sizes="16x16" href='{% static "img/favicon/favicon-16x16.png" %}'>
	<!-- JSON-LD -->
	<script type="application/ld+json">
		{
			"@context": "https://schema.org/",
			"@type": "ItemList",
			"itemListElement": [
				{% for pala in palas %}
					{
						"@type": "Product",
						"name": "{{ pala.nombre }}",
						"brand": "{{ pala.marca }}",
						"offers": {
							"@type": "Offer",
							"price": "{{ pala.precio }}",
							"priceCurrency": "EUR",
							"availability": "https://schema.org/InStock"
						}
					}{% if not forloop.last %},{% endif %}
				{% endfor %}
			]
		}
	</script>
	<title>Comparador de Palas de Pádel - Padel Chiquito</title>
</head>

<body class="flex flex-col min-h-screen">
	{% include "header.html" %}
	<main class="flex flex-col py-6 md:py-1 gap-y-10">
		<h1 class="bg-electric-lime p-6 text-center text-2xl md:text-[2.5rem] md:leading-[3rem] font-bold">Comparador de palas</h1>
		<section class="mb-6 mx-auto">
			<h3 class="text-xl mx-4 md:mx-8 lg:mx-12 p-2 font-semibold">Palas comparadas</h3>
			<div class="flex gap-x-5 gap-y-2 mx-4 md:mx-8 lg:mx-12 flex-wrap">
				<!-- Lista de palas seleccionadas con el botón para quitarlas -->
				{% for pala in palas %}
					<div class="flex w-full justify-between items-center bg-acid-pops rounded-full py-1 px-2 lg:w-64">
						<span class="font-semibold leading-none lg:w-52 lg:text-center">{{ pala.nombre }}</span>
						<a href="{% url 'versus_quitar' pala.palaID %}" class="h-5 w-5">
							<picture>
								<source srcset="{% static 'img/cancel.svg' %}">
								<img src="{% static 'img/cancel.png' %}" class="w-full h-full" alt="Eliminar del comparador" width="20" height="20">
							</picture>
						</a>
					</div>
				{% endfor %}
			</div>
		</section>

		<!-- Lista de las palas seleccionadas con el botón para verlas -->
		<section class="w-full px-4 pb-24 md:px-8 lg:px-12 overflow-x-auto scrollbar-hidden">
			<div id="paddlesContainer" class="md:w-max md:mx-auto grid grid-cols-versus gap-x-5">
				<div class="flex flex-col items-center justify-center gap-y-5 w-32 md:w-[10.5rem] lg:w-56 h-full py-5 bg-black rounded-xl">
					<h2 class="text-electric-lime font-bold text-xl md:text-3xl lg:text-4xl text-center">Valoración Padel Chiquito</h2>
					<picture>
						<source srcset="{% static 'img/white-logo.svg' %}">
						<img src="{% static 'img/white-logo.png' %}" alt="Logo">
					</picture>
					<a class="text-center font-semibold text-sm md:text-xl px-5 bg-electric-lime rounded-full w-fit" href="/versus/">Comparar</a>
				</div>
				{% for pala in palas %}
					<div class="flex flex-col items-center justify-between gap-y-3.5 w-32 md:w-[10.5rem] lg:w-56 h-full py-5">
						<div class="flex flex-col items-center gap-y-1">
							{% if pala.imagen %}
								<img src="{{ pala.imagen.url }}" alt="{{ pala.nombre }}" loading="lazy">
							{% else %}
								<picture>
									<source srcset='{% static "img/no-image-found.svg" %}' type="image/svg+xml">
									<source srcset='{% static "img/no-image-found.webp" %}' type="image/webp">
									<img src='{% static "img/no-image-found.png" %}' alt="{{ pala.nombre }}">
								</picture>
							{% endif %}
							<h3 class="font-semibold text-center md:max-w-[8.5rem] text-xs md:text-sm lg:text-base lg:max-w-44">{{ pala.nombre }}</h3>
						</div>
						<a class="text-center font-semibold text-sm md:text-xl px-5 bg-electric-lime rounded-full w-fit" href="{% url 'mostrar_pala' pk=pala.pk %}">Ver pala</a>
					</div>
				{% endfor %}
			</div>

			<div class="w-full overflow-x-visible">
				<table id="table" class="min-w-max max-w-7xl md:mx-auto text-sm text-left rtl:text-right">
					<tbody>
						<tr class="grid grid-cols-versus gap-x-5 border-b border-[#505050]">
							<th scope="row" class="td-versus font-semibold whitespace-nowrap">
								Puntuación total
							</th>
							{% for pala in palas %}
								<td class="td-versus justify-center leading-none text-center">
									<span class="flex items-center gap-x-2 px-4 lg:px-5 py-1 bg-[#41EA67] rounded-full">
										<span class="font-bold text-base leading-5 md:text-2xl lg:text-[1.75rem] md:leading-6 lg:leading-8">{{ pala.puntuacion_total }}</span>
										<span class="flex flex-col text-start text-[0.5rem] md:text-xs lg:text-base lg:leading-5">
											<span>Nota</span>
											<span>Padel Chiquito</span>
										</span>
									</span>
								</td>
							{% endfor %}
						</tr>
						<tr class="grid grid-cols-versus gap-x-5 border-b border-[#505050]">
							<th scope="row" class="td-versus font-semibold whitespace-nowrap">
								Forma
							</th>
							{% for pala in palas %}
								<td class="td-versus justify-center leading-none text-center">
									{{ pala.forma }}
								</td>
							{% endfor %}
						</tr>
						<tr class="grid grid-cols-versus gap-x-5 border-b border-[#505050]">
							<th scope="row" class="td-versus font-semibold whitespace-nowrap">
								Tacto
							</th>
							{% for pala in palas %}
								<td class="td-versus justify-center leading-none text-center">
									{{ pala.tacto }}
								</td>
							{% endfor %}
						</tr>
						<!-- <tr class="grid grid-cols-versus gap-x-5 border-b border-[#505050]">
							<th scope="row" class="td-versus font-semibold whitespace-nowrap">
								Defensa
							</th>
							{% for pala in palas %}
								<td class="td-versus justify-center leading-none text-center">
									{{ pala.defensa }}
								</td>
							{% endfor %}
						</tr> -->
						<tr class="grid grid-cols-versus gap-x-5 border-b border-[#505050]">
							<th scope="row" class="td-versus font-semibold whitespace-nowrap">
								Fondo de pista
							</th>
							{% for pala in palas %}
								<td class="td-versus justify-center leading-none text-center {% if pala == pala_peor_fondo %}text-red-600 font-bold{% elif pala == pala_mejor_fondo %}text-green-600 font-bold{% else %}{% endif %}">
									{{ pala.fondo_de_pista }}
								</td>
							{% endfor %}
						</tr>
						<tr class="grid grid-cols-versus gap-x-5 border-b border-[#505050]">
							<th scope="row" class="td-versus font-semibold whitespace-nowrap">
								Bajada de pared
							</th>
							{% for pala in palas %}
								<td class="td-versus justify-center leading-none text-center {% if pala == pala_peor_bajada %}text-red-600 font-bold{% elif pala == pala_mejor_bajada %}text-green-600 font-bold{% else %}{% endif %}">
									{{ pala.bajada_de_pared }}
								</td>
							{% endfor %}
						</tr>
						<tr class="grid grid-cols-versus gap-x-5 border-b border-[#505050]">
							<th scope="row" class="td-versus font-semibold whitespace-nowrap">
								Volea
							</th>
							{% for pala in palas %}
								<td class="td-versus justify-center leading-none text-center {% if pala == pala_peor_volea %}text-red-600 font-bold{% elif pala == pala_mejor_volea %}text-green-600 font-bold{% else %}{% endif %}">
									{{ pala.volea }}
								</td>
							{% endfor %}
						</tr>
						<tr class="grid grid-cols-versus gap-x-5 border-b border-[#505050]">
							<th scope="row" class="td-versus font-semibold whitespace-nowrap">
								Bandeja
							</th>
							{% for pala in palas %}
								<td class="td-versus justify-center leading-none text-center {% if pala == pala_peor_bandeja %}text-red-600 font-bold{% elif pala == pala_mejor_bandeja %}text-green-600 font-bold{% else %}{% endif %}">
									{{ pala.bandeja }}
								</td>
							{% endfor %}
						</tr>
						<tr class="grid grid-cols-versus gap-x-5 border-b border-[#505050]">
							<th scope="row" class="td-versus font-semibold whitespace-nowrap">
								Remate
							</th>
							{% for pala in palas %}
								<td class="td-versus justify-center leading-none text-center {% if pala == pala_peor_remate %}text-red-600 font-bold{% elif pala == pala_mejor_remate %}text-green-600 font-bold{% else %}{% endif %}">
									{{ pala.remate }}
								</td>
							{% endfor %}
						</tr>
						<tr class="grid grid-cols-versus gap-x-5 border-b border-[#505050]">
							<th scope="row" class="td-versus font-semibold whitespace-nowrap">
								Manejabilidad
							</th>
							{% for pala in palas %}
								<td class="td-versus justify-center leading-none text-center {% if pala == pala_peor_manejabilidad %}text-red-600 font-bold{% elif pala == pala_mejor_manejabilidad %}text-green-600 font-bold{% else %}{% endif %}">
									{{ pala.manejabilidad }}
								</td>
							{% endfor %}
						</tr>
						<tr class="grid grid-cols-versus gap-x-5 border-b border-[#505050]">
							<th scope="row" class="td-versus font-semibold whitespace-nowrap">
								Punto dulce
							</th>
							{% for pala in palas %}
								<td class="td-versus justify-center leading-none text-center {% if pala == pala_peor_punto_dulce %}text-red-600 font-bold{% elif pala == pala_mejor_punto_dulce %}text-green-600 font-bold{% else %}{% endif %}">
									{{ pala.punto_dulce }}
								</td>
							{% endfor %}
						</tr>
						<tr class="grid grid-cols-versus gap-x-5 border-b border-[#505050]">
							<th scope="row" class="td-versus font-semibold whitespace-nowrap">
								Salida de bola
							</th>
							{% for pala in palas %}
								<td class="td-versus justify-center leading-none text-center {% if pala == pala_peor_salida %}text-red-600 font-bold{% elif pala == pala_mejor_salida %}text-green-600 font-bold{% else %}{% endif %}">
									{{ pala.salida_bola }}
								</td>
							{% endfor %}
						</tr>
						<tr class="grid grid-cols-versus gap-x-5 border-b border-[#505050]">
							<th scope="row" class="td-versus font-semibold whitespace-nowrap">
								Mejor precio
							</th>
							{% for pala in palas %}
								<td class="td-versus justify-center leading-none text-center">
									<span class="flex items-center gap-x-2 px-4 lg:px-5 py-1 bg-[#41EA67] rounded-full">
										<span class="font-bold text-base leading-5 md:text-2xl lg:text-[1.75rem] md:leading-6 lg:leading-8">{{ pala.precio|floatformat:1 }} &euro;</span>
										<span class="flex flex-col font-bold text-start text-[0.5rem] md:text-xs lg:text-base lg:leading-5 text-gray-600 line-through">{{ pala.precio_rebaja|floatformat:1 }} &euro;</span>
									</span>
								</td>
							{% endfor %}
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	</main>
	{% include "cookies.html" %}
	{% include "footer.html" %}
  <script defer src="{% static 'js/header.js' %}"></script>
	<script async src="{% static 'js/versus/table.js' %}"></script>
</body>

</html>