{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-0RWPXTZDX2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
	
		gtag('config', 'G-0RWPXTZDX2');
	</script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/output.css' %}">
	<meta name="description" content="Padel Chiquito: Tu destino principal para comparar y encontrar las mejores palas de pádel. Explora una amplia gama de marcas y modelos para mejorar tu juego.">
	<meta name="keywords" content="Padel Chiquito, palas de pádel, comparador de palas, mejores palas de pádel, marcas de palas, potencia, manejo, comparativas de palas">
	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href='{% static "img/favicon/apple-touch-icon.png" %}'>
	<link rel="icon" type="image/png" sizes="32x32" href='{% static "img/favicon/favicon-32x32.png" %}'>
	<link rel="icon" type="image/png" sizes="16x16" href='{% static "img/favicon/favicon-16x16.png" %}'>
	<title>Blog</title>
</head>

<body class="flex flex-col min-h-screen">
  {% include "header.html" %}
	<main>
		<section>
			<h1>{{ blog.titulo }}</h1>
			<img src="{{blog.portada.url}}"></img>
			<time>{{ blog.fecha }}</time>
		</section>
	
		<section>
			<h2>Índice</h2>
			<ul>
				{% for seccion in blog.secciones.all %}
					<li><a href="#{{seccion.id}}">{{ seccion.titulo }}</a></li>
				{% endfor %}
			</ul>
		</section>

		<article>
			{% for seccion in blog.secciones.all %}
				<section>
					<h2 id="{{seccion.id}}">{{ seccion.titulo }}</h2>
					{% if seccion.imagen %}
						<img src="{{seccion.imagen.url}}"></img>
					{% endif %}
					<p>{{ seccion.contenido | safe }}</p>
				</section>
			{% endfor %}
		</article>
	</main>
	{% include 'chatbot.html' %}
	{% include "footer.html" %}
</body>

</html>