{% load static %}
<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="">
    <link rel="stylesheet" href='{% static "css/output.css" %}'>
</head>

<body>
    {% include "header.html" %}
	{% for blog in blogs %}
	<a href="{% url 'blog' idBlog=blog.id %}">
		{{blog.titulo}}
		<img src="{{blog.portada.url}}"></img>
		{{blog.fecha}}
	</a>
	{% endfor %}
    {% include "footer.html" %}
</body>

</html>