{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-0RWPXTZDX2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
	
		gtag('config', 'G-0RWPXTZDX2');
	</script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/output.css' %}">
	<meta name="description" content="Padel Chiquito: Tu destino principal para comparar y encontrar las mejores palas de pádel. Explora una amplia gama de marcas y modelos para mejorar tu juego.">
	<meta name="keywords" content="Padel Chiquito, palas de pádel, comparador de palas, mejores palas de pádel, marcas de palas, potencia, manejo, comparativas de palas">
	<meta name="robots" content="index, follow">
	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href='{% static "img/favicon/apple-touch-icon.png" %}'>
	<link rel="icon" type="image/png" sizes="32x32" href='{% static "img/favicon/favicon-32x32.png" %}'>
	<link rel="icon" type="image/png" sizes="16x16" href='{% static "img/favicon/favicon-16x16.png" %}'>
	<title>Blog - Padel Chiquito</title>
</head>

<body class="flex flex-col min-h-screen">
	{% include "header.html" %}
	<main>
		<div class="py-12 bg-white sm:py-18">
			<div class="px-6 mx-auto max-w-7xl lg:px-8">
				<div class="max-w-2xl mx-auto lg:mx-0">
					<h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">¡Bienvenido al Blog de Padel Chiquito!</h2>
					<p class="mt-2 text-lg leading-8 text-gray-600">Aquí encontrarás artículos interesantes sobre el mundo del pádel. ¡Explora nuestros análisis, consejos y novedades para mejorar tu juego!</p>
				</div>			
				<div class="grid max-w-2xl grid-cols-1 pt-10 mx-auto mt-10 border-t border-gray-200 gap-x-8 gap-y-16 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
					{% for blog in blogs %}
						<article class="flex flex-col items-start justify-between max-w-xl">
							<div>
								<img src="{{ blog.portada.url }}" class="rounded"></img>
							</div>
							<div class="flex items-center mt-4 text-xs gap-x-4">
								<time datetime="{{ blog.fecha|date:'Y-m-d H:i:s' }}" class="text-gray-500">{{ blog.fecha|date:"F j, Y" }}</time>
							</div>
							<div class="relative group">
								<h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
									<a href="{% url 'blog' idBlog=blog.id %}">
										{{ blog.titulo }}
									</a>
								</h3>
								<p class="mt-5 text-sm leading-6 text-gray-600 line-clamp-3">												
									{% for seccion in blog.secciones.all %}
										{% if forloop.first %}
											{{ seccion.contenido | safe }}
										{% endif %}
									{% endfor %}
								</p>
							</div>
						</article>
					{% endfor %}
				</div>
			</div>
		</div>		
	</main>
	{% include 'chatbot.html' %}
	{% include "footer.html" %}
</body>

</html>