{% load static %}
<!DOCTYPE html>

<html lang="es">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-0RWPXTZDX2"></script>
  <script>
    window.dataLayer = window.dataLayer || []
    function gtag() {
      dataLayer.push(arguments)
    }
    gtag('js', new Date())

    gtag('config', 'G-0RWPXTZDX2')
  </script>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Padel Chiquito: Tu destino principal para comparar y encontrar las mejores palas de pádel. Explora una amplia gama de marcas y modelos para mejorar tu juego.">
  <meta name="keywords" content="Padel Chiquito, palas de pádel, comparador de palas, mejores palas de pádel, marcas de palas, potencia, manejo, comparativas de palas">
  <title>SportChiquito</title>
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href='{% static "img/favicon/apple-touch-icon.png" %}'>
  <link rel="icon" type="image/png" sizes="32x32" href='{% static "img/favicon/favicon-32x32.png" %}'>
  <link rel="icon" type="image/png" sizes="16x16" href='{% static "img/favicon/favicon-16x16.png" %}'>
  <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>

<body class="flex flex-col min-h-screen">
  {% include "header.html" %}
  <main class="flex flex-col w-full my-4 gap-y-6">
    <article class="flex flex-col w-full px-6 md:px-16">
      <div class="w-full">
        <picture>
          <source srcset="{% static 'img/sportchiquito_banner.webp' %}" type="image/webp">
          <img class="object-cover w-full rounded" src="{% static 'img/sportchiquito_banner.png' %}" alt="Imagen de portada de la sección de programas de entrenamiento" width="1200" height="600"/>
        </picture>
      </div>
    </article>

    <section class="flex flex-col px-6 md:px-16 gap-y-1">
      <div class="flex justify-between">
        <h2 class="text-lg font-medium">Productos</h2>    
        <form action="" method="post" class="flex gap-x-2">
          {% csrf_token %}
          <select name="categoria" class="px-2 text-center border-2 border-gray-300">
            <option value="todas" {% if categoriaSeleccionada == 'todas' %} selected {% endif %}>Todas</option>
            {% for categoria in categorias %}
              <option value="{{ categoria.id }}" {% if categoriaSeleccionada == categoria.id %} selected {% endif %}>{{ categoria.nombre }}</option>
            {% endfor %}
          </select>
          <button type="submit">Filtrar</button>
        </form>
      </div>
      <span class="w-full h-1 rounded bg-electric-lime"></span>
    </section>

    <section class="flex flex-col gap-4 px-6 md:px-16">
      {% for entrenamiento in entrenamientos %}
        <article class="border rounded shadow-md">
          <img src="{{ entrenamiento.imagen_portada.url }}" alt="Portad del programa de entrenamiento" />
          <h2>{{ entrenamiento.titulo }}</h2>
          <p>{{ entrenamiento.descripcion }}</p>
          <p>{{ entrenamiento.precio }}</p>
          {% if entrenamiento.codigoDescuento %}
            <p>{{ entrenamiento.codigoDescuento }}</p>
            <p>{{ entrenamiento.precioDescuento }}</p>
          {% endif %}
          <a href="{{ entrenamiento.url }}">Obtener</a>
        </article>
      {% endfor %}
    </section>
  </main>
	{% include "footer.html" %}
</body>

</html>