{% load static %}
{% if bot %}
<div class="fixed bottom-0 right-0 z-40 mb-4 mr-4">
	<button id="open-chat" class="flex items-center px-4 py-2 text-black transition duration-300 rounded-md bg-electric-lime hover:bg-electric-lime">
		<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
		</svg>
		¿Te ayudamos?
	</button>
</div>
<div id="chat-container" class="fixed hidden bottom-16 right-4 w-96">
	<div class="w-full max-w-lg bg-white rounded-lg shadow-md">
		<div class="flex items-center justify-between p-4 text-black border-b rounded-t-lg bg-electric-lime">
			<p class="text-lg font-semibold">Padel Bot</p>
			<button id="close-chat" class="text-gray-300 hover:text-gray-400 focus:outline-none focus:text-gray-400">
				<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
				</svg>
			</button>
		</div>
		<div id="chatbox" class="p-4 overflow-y-auto h-80">
			<div class="mb-2">
				<p class="inline-block px-4 py-2 text-gray-700 bg-gray-200 rounded-lg">Buenos días visitante! ¿En qué puedo ayudarte hoy?</p>
			</div>
			<div class="mb-2">
				<p class="inline-block px-4 py-2 text-gray-700 bg-gray-200 rounded-lg">Puedo ayudarte a escoger una pala, o recomendarte un programa de entrenamiento que se adapte a tí.</p>
			</div>
		</div>
		<div class="flex p-4 border-t">
			<input id="user-input" type="text" placeholder="Escribe un mensaje" class="w-full px-3 py-2 border rounded-l-md focus:outline-none focus:ring-2 focus:ring-blue-500">
			<button id="send-button" class="px-4 py-2 text-white transition duration-300 bg-cyan-800 rounded-r-md hover:bg-cyan-600">Enviar</button>
		</div>
	</div>
</div>
<script src="{% static 'js/chatbot/chatBot.js' %}"></script>
{% endif %}
