@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

select {
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path  d="M14 1L7.5 8.5L1 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
}

@layer input_range {
  /* set default style */
  #precio_max {
    @apply appearance-none bg-transparent overflow-hidden;
  }

  /* set track style */
  #precio_max::-webkit-slider-runnable-track {
    @apply bg-[#8CBD00] rounded-full overflow-hidden;
  }

  #precio_max::-moz-range-track {
    @apply bg-[#8CBD00] rounded-full;
  }

  #precio_max::-ms-track {
    @apply bg-[#8CBD00] rounded-full;
  }

  /* set thumb style */
  #precio_max::-webkit-slider-thumb {
    @apply appearance-none bg-black h-7 w-7 rounded-full shadow-[-1010px_0_0_1000px_#414141];
  }

  #precio_max::-moz-range-thumb {
    @apply appearance-none bg-black h-7 w-7 rounded-full;
  }

  #precio_max::-ms-thumb {
    @apply appearance-none bg-black h-7 w-7 rounded-full;
  }

  #precio_max {
    @apply accent-white;
  }

  #precio_max::-moz-range-progress {
    @apply appearance-none bg-white;
  }
  
  #precio_max::-ms-fill-lower {
    @apply appearance-none bg-white;
  }
}

@layer filter_input_range {
  /* set default style */
  #filter_price_max {
    @apply appearance-none bg-transparent overflow-hidden;
  }

  /* set track style */
  #filter_price_max::-webkit-slider-runnable-track {
    @apply bg-gray-fog rounded-full overflow-hidden;
  }

  #filter_price_max::-moz-range-track {
    @apply bg-gray-fog rounded-full;
  }

  #filter_price_max::-ms-track {
    @apply bg-gray-fog rounded-full;
  }

  /* set thumb style */
  #filter_price_max::-webkit-slider-thumb {
    @apply appearance-none bg-electric-lime h-5 w-5 rounded-full shadow-[-1010px_0_0_1000px_#CCFF00];
  }

  #filter_price_max::-moz-range-thumb {
    @apply appearance-none bg-electric-lime h-5 w-5 rounded-full;
  }

  #filter_price_max::-ms-thumb {
    @apply appearance-none bg-electric-lime h-5 w-5 rounded-full;
  }

  #filter_price_max {
    @apply accent-white;
  }

  #filter_price_max::-moz-range-progress {
    @apply appearance-none bg-white;
  }
  
  #filter_price_max::-ms-fill-lower {
    @apply appearance-none bg-white;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.text-stroke-2 {
  -webkit-text-stroke: rgb(239, 68, 68) 0.1rem;
}

.text-stroke-1 {
  -webkit-text-stroke: rgb(239, 68, 68) 0.05rem;
}

.grid-cols-versus {
  @apply grid-cols-[repeat(5,_minmax(8rem,_0fr))] md:grid-cols-[repeat(5,_minmax(10.5rem,_0fr))] lg:grid-cols-[repeat(5,_minmax(14rem,_0fr))];
}

.td-versus {
  @apply flex items-center w-32 md:w-[10.5rem] lg:w-56 py-4 sm:py-5 md:py-6 lg:py-7 text-xs md:text-base;
}

input[type='search'] {
  @apply placeholder-shown:truncate;
} 

