@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

table tbody tr:nth-child(odd) {
  background: #ffffff;
}

table tbody tr:nth-child(even) {
  background: #e5e7eb;
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
}

input[type='range'] {
  @apply accent-[#D1FF4F];
}

input[type='search'] {
  @apply placeholder-shown:truncate;
}