{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Padel Chiquito: Tu destino principal para comparar y encontrar las mejores palas de pádel. Explora una amplia gama de marcas y modelos para mejorar tu juego.">
	<meta name="keywords" content="Padel Chiquito, palas de pádel, comparador de palas, mejores palas de pádel, marcas de palas, potencia, manejo, comparativas de palas">
	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href='{% static "img/favicon/apple-touch-icon.png" %}'>
	<link rel="icon" type="image/png" sizes="32x32" href='{% static "img/favicon/favicon-32x32.png" %}'>
	<link rel="icon" type="image/png" sizes="16x16" href='{% static "img/favicon/favicon-16x16.png" %}'>
	<link href="{% static 'css/output.css' %}" rel="stylesheet">
	<title>Padel Chiquito - Cambiar contraseña</title>
</head>

<body class="bg-[#f5f6f8]">
	{% include "header.html" %}
	<main class="flex items-center justify-center m-[min(2vw)] h-[calc(100vh-3.5rem)] md:m-0">
		<div class="md:flex max-w-md w-full md:max-w-[45rem] p-8 bg-white border border-gray-300 border-solid rounded shadow-md">
			<div class="w-full md:pr-8 md:w-1/2">
				<h2 class="mb-4 text-2xl font-bold">Nueva contraseña</h2>
				<p class="hidden mb-5 text-gray-600 md:block">Bienvenido de nuevo. Por favor <strong>indica tu nueva contraseña</strong> para terminar el proceso.</p>
			</div>
			<div class="w-full md:pl-8 md:w-1/2">
				<form method="post" class="font-[roboto]">
					{% csrf_token %}
					<div class="mb-4">
						<label for="username" class="block mb-2 font-medium text-gray-700">Contraseña:</label>
						<input type="text" id="password" name="password" class="bg-[#f5f6f8] w-full p-2 border border-gray-300 rounded focus:outline-none focus:border-[#d03d23]" required autocomplete="on">
					</div>
					<button type="submit" class="w-full px-4 py-2 mb-4 font-medium text-white bg-[#d03d23] rounded hover:bg-[#dd605a]">Confirmar</button>
					{% if error %}
					<input type="hidden" id="error" value="{{ error }}">
					{% endif %}
				</form>
				<div class="flex justify-between">
					<a href="/signin/" class="text-center text-sm text-[#d03d23] hover:text-[#dd605a]">Iniciar sesión</a>
					<a href="/signup/" class="text-center text-sm text-[#d03d23] hover:text-[#dd605a]">¿No tienes cuenta?</a>
				</div>
			</div>
		</div>
	</main>
	{% include "footer.html" %}
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="{% static 'js/header.js'%}"></script>
	<script src="{% static 'js/users/signin.js'%}"></script>
</body>
</html>