{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Padel Chiquito: Tu destino principal para comparar y encontrar las mejores palas de pádel. Explora una amplia gama de marcas y modelos para mejorar tu juego.">
	<meta name="keywords" content="Padel Chiquito, palas de pádel, comparador de palas, mejores palas de pádel, marcas de palas, potencia, manejo, comparativas de palas">
	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href='{% static "img/favicon/apple-touch-icon.png" %}'>
	<link rel="icon" type="image/png" sizes="32x32" href='{% static "img/favicon/favicon-32x32.png" %}'>
	<link rel="icon" type="image/png" sizes="16x16" href='{% static "img/favicon/favicon-16x16.png" %}'>
	<link href="{% static 'css/output.css' %}" rel="stylesheet">
	<title>Padel Chiquito - Verificar</title>
</head>

<body class="h-screen">
	<main class="flex items-center justify-center h-full">
		<article class="w-11/12 px-16 py-12 border rounded-lg shadow sm:w-8/12 md:w-6/12 lg:w-4/12">
			<section class="text-center mb-7">
				<h2 class="mb-2 text-3xl font-bold">Revisa tu email</h2>
				<p>Saludos desde Padel Chiquito. Por favor, revisa tu email, te hemos enviado un mensaje importante.</p>
			</section>
			<picture class="flex items-center justify-center">
				<source srcset="{% static 'img/Email.webp' %}">
				<img src="{% static 'img/Email.png' %}" width="220" height="159" alt="email">
			</picture>
		</article>
	</main>	
	{% include "footer.html" %}
</body>
</html>