{% load static %}
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>




<div class="fixed bottom-0 right-0 flex items-center justify-center py-4 z-50 mx-4" id='cookies-flotante' style="display: none;">
    <div class="container">
      <div class="flex flex-wrap items-center justify-between rounded-lg border bg-gray-900 p-4">
        <div class="w-full md:w-7/12 lg:w-2/3 flex items-center px-2">
          <span class="text-indigo-500 mr-4">
            <svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24" height="30" width="30" xmlns="http://www.w3.org/2000/svg" class="stroke-electric-lime">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"></path>
            </svg>
          </span>
          <div class="mb-6 md:mb-0">
            <h3 class="text-lg font-bold text-black dark:text-white">Usamos cookies</h3>
            <p class="text-sm font-medium text-body-color dark:text-gray-300">Por favor, acepta nuestras cookies para una mejor experiencia.</p>
          </div>
        </div>
        <div class="w-full md:w-5/12 lg:w-1/3">
          <div class="flex items-center space-x-3 md:justify-end">
            <button id="view-cookies" class="button bg-white dark:bg-gray-700 border border-gray-300 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 active:bg-gray-100 dark:active:bg-gray-500 dark:active:border-gray-500 text-gray-600 dark:text-gray-100 radius-round h-11 px-8 py-2">Ver</button>
            <button class="button hover:bg-indigo-500 active:bg-indigo-700 text-black radius-round h-11 px-8 py-2 bg-lime-400" id='accept-cookies' onclick="acceptCookies()">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--
<div id='cookies-flotante' style="display: none;" class=" bg-lime-300 w-full h-auto py-2 flex flex-row justify-center">
    <div class="text-black font-bold mx-2">
        Esta web utiliza cookies
    </div>
    <div class="flex space-x-2 mx-2">
        <button id='view-cookies' class='py-2 px-4 bg-white text-black font-bold text-center rounded-xl'>
            Ver más
        </button>
        <button id='accept-cookies' onclick="acceptCookies()" class='py-2 px-4 bg-gray-900 text-white font-bold text-center rounded-xl'>
            Aceptar
        </button>
    </div>
</div>

-->


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const cookiesAccepted = getCookie('cookies_accepted');
        if (cookiesAccepted !== 'true') {
            document.getElementById('cookies-flotante').style.display = 'block';
        }
    });

    function acceptCookies() {
        fetch("{% url 'accept_cookies' %}", {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({})
        }).then(response => {
            if (response.ok) {
                document.cookie = "cookies_accepted=true; path=/; max-age=" + 60*60*24*365;
                document.getElementById('cookies-flotante').style.display = 'none';
            }
        });
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>


        <script src="sweetalert2.all.min.js"></script>
<script>
    const ver_mas = document.getElementById('view-cookies');
    const aceptar = document.getElementById('accept-cookies');

    ver_mas.addEventListener('click', () => {
        Swal.fire({
         title: "<strong>Política de cookies</strong>",
         icon: 'info',
        html: `
            
            <h1>POLÍTICA DE COOKIES</h1>
            <a>www.padelchiquito.com</a>
            <p>
            El acceso a este Sitio Web puede implicar la utilización de cookies. Las cookies son pequeñas cantidades de información que se almacenan en el navegador utilizado por cada Usuario —en los distintos dispositivos que pueda utilizar para navegar— para que el servidor recuerde cierta información que posteriormente y únicamente el servidor que la implementó leerá. Las cookies facilitan la navegación, la hacen más amigable, y no dañan el dispositivo de navegación.
            Las cookies son procedimientos automáticos de recogida de información relativa a las preferencias determinadas por el Usuario durante su visita al Sitio Web con el fin de reconocerlo como Usuario, y personalizar su experiencia y el uso del Sitio Web, y pueden también, por ejemplo, ayudar a identificar y resolver errores.
            La información recabada a través de las cookies puede incluir la fecha y hora de visitas al Sitio Web, las páginas visionadas, el tiempo que ha estado en el Sitio Web y los sitios visitados justo antes y después del mismo. Sin embargo, ninguna cookie permite que esta misma pueda contactarse con el número de teléfono del Usuario o con cualquier otro medio de contacto personal. Ninguna cookie puede extraer información del disco duro del Usuario o robar información personal. La única manera de que la información privada del Usuario forme parte del archivo Cookie es que el usuario dé personalmente esa información al servidor.
            Las cookies que permiten identificar a una persona se consideran datos personales. Por tanto, a las mismas les será de aplicación la Política de Privacidad anteriormente descrita. En este sentido, para la utilización de las mismas será necesario el consentimiento del Usuario. Este consentimiento será comunicado, en base a una elección auténtica, ofrecido mediante una decisión afirmativa y positiva, antes del tratamiento inicial, removible y documentado.
            </p>
            <h3>
            Cookies propias
            </h3>
                <p>
            Son aquellas cookies que son enviadas al ordenador o dispositivo del Usuario y gestionadas exclusivamente por Padel Chiquito para el mejor funcionamiento del Sitio Web. La información que se recaba se emplea para mejorar la calidad del Sitio Web y su Contenido y su experiencia como Usuario. Estas cookies permiten reconocer al Usuario como visitante recurrente del Sitio Web y adaptar el contenido para ofrecerle contenidos que se ajusten a sus preferencias.
                </p>

            <h3>
            Cookies de terceros
            </h3>
            <p>
            Son cookies utilizadas y gestionadas por entidades externas que proporcionan a Padel Chiquito servicios solicitados por este mismo para mejorar el Sitio Web y la experiencia del usuario al navegar en el Sitio Web. Los principales objetivos para los que se utilizan cookies de terceros son la obtención de estadísticas de accesos y analizar la información de la navegación, es decir, cómo interactúa el Usuario con el Sitio Web.
            La información que se obtiene se refiere, por ejemplo, al número de páginas visitadas, el idioma, el lugar a la que la dirección IP desde el que accede el Usuario, el número de Usuarios que acceden, la frecuencia y reincidencia de las visitas, el tiempo de visita, el navegador que usan, el operador o tipo de dispositivo desde el que se realiza la visita. Esta información se utiliza para mejorar el Sitio Web, y detectar nuevas necesidades para ofrecer a los Usuarios un Contenido y/o servicio de óptima calidad. En todo caso, la información se recopila de forma anónima y se elaboran informes de tendencias del Sitio Web sin identificar a usuarios individuales.
            Puede obtener más información sobre las cookies, la información sobre la privacidad, o consultar la descripción del tipo de cookies que se utiliza, sus principales características, periodo de expiración, etc. en el siguiente(s) enlace(s):
            La(s) entidad(es) encargada(s) del suministro de cookies podrá(n) ceder esta información a terceros, siempre y cuando lo exija la ley o sea un tercero el que procese esta información para dichas entidades.
            Deshabilitar, rechazar y eliminar cookies
            El Usuario puede deshabilitar, rechazar y eliminar las cookies —total o parcialmente— instaladas en su dispositivo mediante la configuración de su navegador (entre los que se encuentran, por ejemplo, Chrome, Firefox, Safari, Explorer). En este sentido, los procedimientos para rechazar y eliminar las cookies pueden diferir de un navegador de Internet a otro. En consecuencia, el Usuario debe acudir a las instrucciones facilitadas por el propio navegador de Internet que esté utilizando. En el supuesto de que rechace el uso de cookies —total o parcialmente— podrá seguir usando el Sitio Web, si bien podrá tener limitada la utilización de algunas de las prestaciones del mismo.
            </p>
            `
            
        });
    });
</script>