{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Padel Chiquito: Tu destino principal para comparar y encontrar las mejores palas de pádel. Explora una amplia gama de marcas y modelos para mejorar tu juego.">
	<meta name="keywords" content="Padel Chiquito, palas de pádel, comparador de palas, mejores palas de pádel, marcas de palas, potencia, manejo, comparativas de palas">
	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href='{% static "img/favicon/apple-touch-icon.png" %}'>
	<link rel="icon" type="image/png" sizes="32x32" href='{% static "img/favicon/favicon-32x32.png" %}'>
	<link rel="icon" type="image/png" sizes="16x16" href='{% static "img/favicon/favicon-16x16.png" %}'>
	<link href="{% static 'css/output.css' %}" rel="stylesheet">
	<title>Padel Chiquito - Contraseña olvidada</title>
</head>

<body class="h-screen">
	<main class="flex items-center justify-center w-full h-full">
		<article class="w-11/12 px-12 py-12 border rounded-lg shadow md:px-16 sm:w-8/12 md:w-6/12 lg:w-4/12">
			<section class="text-center mb-7">
				<h2 class="mb-2 text-3xl font-bold">¿Has olvidado la contraseña?</h2>				
				<p>Introduce tu dirección de correo electrónico para recibir un enlace de restablecimiento de contraseña.</p>
			</section>
			<form method="post" class="flex flex-col gap-y-3">
				{% csrf_token %}
				<div class="flex flex-col gap-y-2">
					<label for="email" class="text-sm font-semibold whitespace-nowrap">Email</label>
					<input type="email" name="email" class="h-10 border border-solid border-gray-300 rounded-lg focus-visible:outline-none px-3 py-1.5 transition-colors focus:border-[#ccff00]" placeholder="Dirección de email" autocomplete="on">
				</div>
				<button type="submit" class="bg-[#ccff00] min-w-max w-full font-medium rounded-full p-1.5 px-10 mx-auto mb-2 transition-colors hover:bg-[#d9ff00]">Restablecer</button>
				{% if error %}
					<input type="hidden" id="error" value="{{ error }}">
				{% endif %}
			</form>
		</article>
	</main>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>